.soluation{
    left: 0px;
    top: 377.34px;
    transform: rotate(-11.19deg);
    height: 348px;
    background: linear-gradient(212.4deg, rgba(230, 250, 233, 0.6) 1.78%, rgba(230, 250, 233, 0) 80.59%);
}